<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    <p>this site was created by Salmanpary</p>
    
    <img class="portrait" src="./img/robot.png" alt="">
    
    {{>footer}}
</body>
</html>